*
!.git/
!.gitignore
!Dockerfile
!IsotonicLogisticRegression.py
!LICENSE.txt
!README.md
!Snakefile
!TargetEncoder.py
!__init__.py
!_aux/neoheadhunter_prioritization.py
!_aux/parse_netMHC.py
!add_detail_info.py
!annotation2fasta.py
!benchmark_common/concat_files.py
!benchmark_common/neobench.py
!bindstab_filter.py
!config.yaml
!database/iedb.fasta
!database/all_peptides.txt
!env/freeze.env_export.yml
!env/freeze.env_export_from_history.yml
!env/freeze.env_export_no_builds.yml
!env/optitype_env.freeze.env_export.yml
!env/optitype_env.requirements.list_e.txt
!env/requirements.list_e_no_pypi.txt
!fasta_addkey.py
!fasta_filter.py
!fasta_partition.py
!figs/key_idea.py
!from_improve/pred_df_Simple.txt
!from_improve/pred_df_TME_excluded.txt
!from_improve/pred_df_TME_included.txt
!gather_results.py
!install-step-1-by-conda.sh
!install-step-2-for-feature-extraction.sh
!install-step-2-for-neoepitope-detection.sh
!install-step-2-mouse.sh
!neoexpansion.py
!neomotif.py
!neopredictor.py
!parse_netmhcpan.py
!parse_rank_software.py
!parse_star_fusion.py
!placeholders/EmptyFile
!placeholders/HighAbundance.tsv
!rank_software_input.py
!software/ASNEO/neoASNEO.py
!software/optitype.config.ini
!software/optitype_nopath.config.ini
